@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", "sans-serif";
  letter-spacing: 0.02em;
  background-color: #fff;
  color: #555555;
}
body.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
figure {
  margin: 0;
}

ul {
  padding-left: 0;
}

button,
label {
  cursor: pointer;
}

.section {
  padding: 84px 0;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 100px 0;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 120px 0;
  }
}

.container {
  margin: 0 auto;
  padding: 0 31px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 39px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 15px;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.link:hover, .link:focus {
  color: #ff6c00;
}
.link:active {
  color: rgba(255, 108, 0, 0.5);
}

.title {
  margin-bottom: 20px;
  font-family: "Raleway", "sans-serif";
  font-size: 42px;
  line-height: 1.178;
  font-weight: 700;
  letter-spacing: 0.05em;
  word-break: break-all;
  color: #303030;
}

.subtitle {
  margin-bottom: 20px;
  font-size: 11px;
  line-height: 1.363;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #303030;
}
@media screen and (min-width: 480px) {
  .subtitle {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .subtitle::before {
    content: "";
    width: 60px;
    height: 1px;
    background-color: currentColor;
  }
}

.thumb {
  overflow: hidden;
}

.image, .slider__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.feedback__checkbox, .contact-us__title, .portfolio__title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.page-header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: 100%;
}
.page-header__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .page-header__container {
    padding: 0 59px 0 50px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__container {
    padding: 0 35px 0 15px;
  }
}

.hero__container {
  padding: 0;
}
@media screen and (min-width: 768px) {
  .hero__container {
    display: flex;
    gap: 30px;
    flex-direction: row-reverse;
    padding: 0 39px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__container {
    gap: 0;
    padding: 0 15px;
  }
}
.hero__content {
  position: relative;
  padding: 208px 50px 209px;
}
@media screen and (min-width: 768px) {
  .hero__content {
    flex-grow: 1;
    padding: 272px 50px 237px 120px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__content {
    padding: 272px 50px 208px 100px;
  }
}
.hero__title {
  position: relative;
  z-index: 10;
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 1.166;
  color: #fff;
}
@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 72px;
    line-height: 1.18;
  }
}
.hero__subtitle {
  position: relative;
  z-index: 10;
  margin-bottom: 20px;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.6);
}
.hero__subtitle::before {
  background-color: rgba(157, 164, 189, 0.6);
}
@media screen and (min-width: 768px) {
  .hero__subtitle {
    letter-spacing: 0;
  }
}
.hero__text {
  position: relative;
  z-index: 10;
  max-width: 336px;
  font-size: 16px;
  line-height: 1.625;
  color: #9da4bd;
}
@media screen and (min-width: 768px) {
  .hero__text {
    max-width: 360px;
    font-size: 18px;
    line-height: 1.666;
  }
}
.hero__aside {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__aside {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__aside {
    width: 100px;
  }
}

@media screen and (min-width: 768px) {
  .about__container {
    display: flex;
    gap: 30px;
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 768px) {
  .about__content {
    flex-basis: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .about__content {
    flex-basis: 570px;
    padding-right: 100px;
  }
}
.about__title {
  max-width: 306px;
  font-size: 28px;
}
@media screen and (min-width: 480px) {
  .about__title {
    word-break: normal;
  }
}
@media screen and (min-width: 1200px) {
  .about__title {
    max-width: initial;
    font-size: 42px;
    line-height: 1.166;
  }
}
.about__text {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.857;
}
@media screen and (min-width: 768px) {
  .about__text {
    margin-bottom: 77px;
  }
}
@media screen and (min-width: 1200px) {
  .about__text {
    margin-bottom: 42px;
  }
}
.about__text--pretext {
  margin-bottom: 20px;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .about__text--pretext {
    font-size: 18px;
    line-height: 1.66;
  }
}
.about__aside {
  display: none;
}
@media screen and (min-width: 768px) {
  .about__aside {
    display: initial;
  }
}
.about__list {
  display: flex;
  gap: 30px;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .about__list {
    flex-direction: row;
  }
}

.services {
  text-align: center;
  background-color: #111319;
  background-image: url("../images/prices/mobile/prices-bg-480.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .services {
    background-image: url("../images/prices/mobile/prices-bg-960.png");
  }
}
@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .services {
    background-image: url("../images/prices/mobile/prices-bg-1440.png");
  }
}
@media screen and (min-width: 768px) {
  .services {
    background-image: url("../images/prices/tablet/prices-bg-768.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .services {
    background-image: url("../images/prices/tablet/prices-bg-1536.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .services {
    background-image: url("../images/prices/tablet/prices-bg-2304.png");
  }
}
@media screen and (min-width: 1200px) {
  .services {
    background-image: url("../images/prices/desktop/prices-bg-1600.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .services {
    background-image: url("../images/prices/desktop/prices-bg-3200.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 3dppx) {
  .services {
    background-image: url("../images/prices/desktop/prices-bg-4800.png");
  }
}
.services__title {
  margin-bottom: 44px;
  font-size: 40px;
  line-height: 1.175;
  text-align: left;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .services__title {
    font-size: 42px;
    line-height: 1.166;
  }
}
.services__subtitle {
  color: rgba(157, 164, 189, 0.6);
}
.services__list {
  margin-bottom: 44px;
  padding: 20px;
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
@media screen and (min-width: 480px) {
  .services__list {
    padding: 30px 20px 30px 40px;
  }
}
@media screen and (min-width: 768px) {
  .services__list {
    padding: 32px 27px 32px 40px;
  }
}
@media screen and (min-width: 1200px) {
  .services__list {
    display: flex;
    gap: 30px;
    padding: 0;
    background-image: none;
  }
}
.services__item {
  padding: 10px 0;
}
.services__item:first-child {
  padding-top: 0;
}
.services__item:last-child {
  padding-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .services__item {
    flex-basis: 570px;
    padding: 0;
  }
  .services__item:nth-child(odd) {
    background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
  .services__item:nth-child(even) {
    background-image: linear-gradient(180deg, rgb(9, 11, 19), rgba(9, 11, 19, 0.2) 100%);
  }
}
@media screen and (min-width: 1200px) {
  .services__inner-list {
    padding: 30px 22px 30px 20px;
  }
}
.services__inner-item {
  display: flex;
  align-items: baseline;
  gap: 4px;
  padding: 10px 0;
  font-size: 14px;
  line-height: 1.428;
  word-break: break-all;
  color: rgba(157, 164, 189, 0.6);
}
.services__inner-item:first-child {
  padding-top: 0;
}
.services__inner-item:last-child {
  padding-bottom: 0;
}
.services__inner-item::after {
  content: "";
  height: 1px;
  flex-grow: 1;
  background: currentColor;
}
@media screen and (min-width: 768px) {
  .services__inner-item {
    gap: 12px;
    font-size: 18px;
    line-height: 1.666;
  }
}
.services__price {
  order: 1;
}
.services__btn {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .features__container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .features__container {
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 768px) {
  .features__content {
    max-width: 500px;
  }
}
@media screen and (min-width: 1200px) {
  .features__content {
    padding-top: 9px;
  }
}
.features__title {
  line-height: 1.166;
}
@media screen and (min-width: 768px) {
  .features__title {
    max-width: 420px;
  }
}
.features__title::before {
  content: "¿";
}
.features__text {
  font-size: 18px;
  line-height: 1.666;
}
.features__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding-top: 79px;
}
@media screen and (min-width: 768px) {
  .features__list {
    align-self: flex-end;
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    max-width: 370px;
    padding-top: 35px;
  }
}
.features__item {
  width: 100%;
  color: #303030;
}
@media screen and (min-width: 220px) {
  .features__item {
    width: 158px;
  }
}
@media screen and (min-width: 408px) {
  .features__item:nth-child(odd) {
    transform: translateY(-36px);
  }
}
@media screen and (min-width: 480px) {
  .features__item {
    width: inherit;
  }
}

.barbers {
  background-color: #f7f7f7;
}
@media screen and (min-width: 768px) {
  .barbers__container {
    max-width: 528px;
  }
}
@media screen and (min-width: 1200px) {
  .barbers__container {
    max-width: initial;
  }
}
.barbers__title {
  margin-bottom: 44px;
  line-height: 1.166;
}
@media screen and (min-width: 1200px) {
  .barbers__list {
    display: flex;
    gap: 30px;
  }
}
.barbers__item {
  margin-bottom: 64px;
}
@media screen and (min-width: 1200px) {
  .barbers__item {
    margin-bottom: 0;
  }
}
.barbers__item:last-child {
  margin-bottom: 0;
}

.portfolio__subtitle {
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 71px;
}
@media screen and (min-width: 768px) {
  .portfolio__subtitle {
    margin-bottom: 44px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.portfolio__item {
  margin-bottom: 30px;
}
.portfolio__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    margin-bottom: 0;
  }
}
.portfolio__thumb {
  max-width: 418px;
}
@media screen and (min-width: 768px) {
  .portfolio__thumb {
    max-width: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__thumb {
    max-width: 270px;
  }
}

.booking {
  text-align: center;
  background-color: #111319;
}
.booking__title {
  margin-bottom: 44px;
  text-align: center;
  color: #fff;
}
.booking__field {
  position: relative;
  display: block;
  margin-bottom: 36px;
  color: rgba(157, 164, 189, 0.4);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.booking__field:hover {
  color: #fff;
}
.booking__input, .booking__textarea {
  width: 100%;
  height: 31px;
  border: none;
  outline: none;
  border-bottom: 1px solid currentColor;
  background: transparent;
  color: currentColor;
}
.booking__input:focus, .booking__textarea:focus {
  border-bottom: 1px solid #fff;
  color: #fff;
}
.booking__textarea {
  resize: none;
  height: 83px;
}
.booking__label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-transform: uppercase;
  font-size: 11px;
  line-height: normal;
  letter-spacing: 1.1px;
  color: currentColor;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.booking__label--req::after {
  content: "*";
}

.booking__input:focus + .booking__label {
  color: #fff;
}
.booking__input:not(:-moz-placeholder-shown) + .booking__label {
  transform: translateY(-32px);
  font-size: 8px;
}
.booking__input:not(:-ms-input-placeholder) + .booking__label {
  transform: translateY(-32px);
  font-size: 8px;
}
.booking__input:focus + .booking__label, .booking__input:not(:placeholder-shown) + .booking__label {
  transform: translateY(-32px);
  font-size: 8px;
}
.booking__textarea + .booking__label {
  top: 4px;
  transform: translateY(0);
}
.booking__textarea:focus + .booking__label {
  color: #fff;
}
.booking__textarea:not(:-moz-placeholder-shown) + .booking__label {
  transform: translateY(-27px);
  font-size: 8px;
}
.booking__textarea:not(:-ms-input-placeholder) + .booking__label {
  transform: translateY(-27px);
  font-size: 8px;
}
.booking__textarea:focus + .booking__label, .booking__textarea:not(:placeholder-shown) + .booking__label {
  transform: translateY(-27px);
  font-size: 8px;
}

.contacts {
  background-color: #111319;
  background-image: url("../images/contacts/mobile/contacts-bg-480.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .contacts {
    background-image: url("../images/contacts/mobile/contacts-bg-960.png");
  }
}
@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .contacts {
    background-image: url("../images/contacts/mobile/contacts-bg-1440.png");
  }
}
.contacts__title {
  margin-bottom: 40px;
  text-align: center;
  color: #fff;
}
.contacts__subtitle {
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 20px;
  color: #fff;
}
.contacts__subtitle::before {
  background-color: rgba(157, 164, 189, 0.4);
}
.contacts__address {
  margin-bottom: 44px;
}
.contacts__item {
  margin-bottom: 20px;
}
.contacts__item:last-child {
  margin-bottom: 0;
}
.contacts__link {
  display: flex;
  gap: 16px;
  align-items: center;
  text-decoration: none;
  word-break: break-all;
  color: #9da4bd;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover {
  color: #fff;
}
.contacts__text {
  font-size: 18px;
  line-height: 1.6667;
  letter-spacing: 0.36px;
  font-style: normal;
  color: currentColor;
}
.contacts__icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.contacts__text--map-pin {
  font-weight: 700;
}

.contacts__text--mail {
  position: relative;
  word-break: break-all;
}
.contacts__text--mail::after {
  content: "";
  position: absolute;
  top: 23px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #9da4bd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover .contacts__text--mail::after {
  background-color: #fff;
}

.page-footer {
  background-color: #f7f7f7;
  padding: 44px 0;
}
.page-footer__text {
  font-size: 11px;
  line-height: normal;
  font-weight: 600;
  letter-spacing: 2.2px;
  color: #303030;
}
.page-footer__text--copyright {
  color: #9da4bd;
}
.page-footer__text--copyright::before {
  content: "©";
  padding-right: 6px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100%;
  z-index: 100;
  background-color: rgba(25, 28, 38, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}
.backdrop--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.btn {
  display: inline-block;
  max-width: 160px;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  padding: 11px;
  font-family: "Open Sans", "sans-serif";
  font-size: 12px;
  line-height: 1.333;
  font-weight: 600;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #303030;
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn--light {
  color: #fff;
}
.btn:hover, .btn:focus {
  color: #fff;
  background-color: #ff6c00;
}
@media screen and (min-width: 480px) {
  .btn {
    width: 160px;
  }
}

.feature {
  height: auto;
  padding: 20px 20px;
  text-align: center;
  background-color: #f7f7f7;
  color: #303030;
}
@media screen and (min-width: 480px) {
  .feature {
    width: 194px;
    height: 133px;
    padding: 20px 35px;
  }
}
@media screen and (min-width: 768px) {
  .feature {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .feature {
    width: 170px;
  }
}
.feature__count {
  position: relative;
  display: inline-block;
  padding-bottom: 6px;
  font-size: 42px;
  line-height: 1.357;
  font-weight: 700;
  letter-spacing: 0.05em;
}
.feature__count:after {
  content: "+";
  position: absolute;
  top: 8px;
  display: inline-block;
  width: 20px;
  text-align: center;
  font-size: 16px;
  line-height: 1.375;
  font-weight: 600;
  color: #ff6c00;
}
.feature__text {
  margin: 0 auto;
  font-size: 11px;
  line-height: 1.363;
  font-weight: 600;
  letter-spacing: 0;
}
.feature__text--small {
  width: 84px;
}

.card {
  text-align: center;
}
.card__contain {
  padding-top: 30px;
}
.card__title {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.388;
  font-weight: 400;
}
.card__text {
  margin-bottom: 30px;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 1.357;
  color: #ff6c00;
}

.site-nav {
  position: relative;
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    gap: 37px;
    align-items: flex-end;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    gap: 254px;
    align-items: center;
  }
}
.site-nav__list {
  display: flex;
  gap: 16px;
}
@media screen and (min-width: 1200px) {
  .site-nav__list {
    gap: 30px;
  }
}
.site-nav__link {
  display: block;
  padding: 52px 0;
  font-size: 12px;
  line-height: 1.333;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__list:last-child {
  gap: 20px;
  flex-direction: column-reverse;
  align-items: flex-end;
}
@media screen and (min-width: 1200px) {
  .site-nav__list:last-child {
    flex-direction: row;
    gap: 40px;
    align-items: center;
  }
}
.site-nav__list:last-child .site-nav__link {
  display: inline;
  padding: 0;
}
@media screen and (min-width: 1200px) {
  .site-nav__list:last-child .site-nav__link {
    display: block;
    padding: 52px 0;
  }
}

.logo {
  display: inline-block;
  padding: 40px 0;
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover, .logo:focus {
  color: #ff6c00;
}
.logo__image {
  width: 68.93px;
  height: 55.46px;
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .logo {
    padding: 32px 0;
    color: #303030;
  }
}

.menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  margin: 0;
  padding: 0 0;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.menu-toggle:hover, .menu-toggle:focus {
  color: #ff6c00;
}
.menu-toggle--close {
  position: absolute;
  top: 48px;
  right: 31px;
  color: #303030;
}
.menu-toggle__icon {
  width: 28px;
  height: 28px;
  fill: currentColor;
}
.menu-toggle__icon--close {
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slider__wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(25, 28, 38, 0.2);
  overflow: hidden;
}
.slider__line {
  position: relative;
  left: 0;
  z-index: -50;
  display: flex;
  height: 100%;
  background-color: #111319;
  transition: 250ms;
}
.slider__buttons {
  display: none;
}
@media screen and (min-width: 768px) {
  .slider__buttons {
    position: absolute;
    right: 20px;
    bottom: 40px;
    display: inline-flex;
    gap: 24px;
  }
}
.slider__button {
  position: relative;
  width: 60px;
  height: 24px;
  border: none;
  padding: 0 0 8px 0px;
  background-color: transparent;
  font-size: 11px;
  line-height: 1.363;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: rgba(157, 164, 189, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.slider__button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
}
.slider__button--prev {
  text-align: left;
}
.slider__button--next {
  text-align: right;
}
.slider__button:hover, .slider__button:focus {
  color: #fff;
}
.slider__dots {
  position: absolute;
  right: 31px;
  top: 50%;
  display: inline-flex;
  flex-direction: column-reverse;
  transform: translateY(-50%);
}
@media screen and (min-width: 768px) {
  .slider__dots {
    right: 20px;
  }
}
.slider__dot {
  position: relative;
  width: 18px;
  height: 14px;
  color: rgb(157, 164, 189);
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.slider__dot:hover {
  color: #fff;
}
.slider__dot::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 8px;
  height: 2px;
  background-color: currentColor;
  transform: translateY(-50%);
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.slider__dot:hover::after {
  width: 100%;
}
.slider__dot--active::after {
  width: 100%;
  background-color: #fff;
}
.slider__slide {
  min-width: 100%;
  height: 100%;
}
.slider__image {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 461px) {
  .slider__image {
    height: auto;
  }
}

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 220px) {
  .socials {
    flex-direction: row;
  }
}
.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  color: #303030;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  color: #ff6c00;
}
.socials__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.soc-nav__list {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 10px;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.soc-nav__list--mobmenu {
  gap: 10px;
  flex-direction: column;
  align-items: flex-start;
  align-items: flex-end;
  margin-bottom: 0;
}
@media screen and (min-width: 480px) {
  .soc-nav__list--mobmenu {
    align-items: flex-start;
    gap: 24px;
  }
}
.soc-nav__list--aside {
  flex-wrap: nowrap;
  margin-bottom: 0;
  transform: rotate(-90deg) translateX(148px);
}
@media screen and (min-width: 1200px) {
  .soc-nav__list--aside {
    transform: rotate(-90deg) translateX(148px) translateY(-17px);
  }
}
.soc-nav__item {
  font-size: 11px;
  line-height: 1.363;
  font-weight: 600;
  letter-spacing: 0.2em;
}
@media screen and (min-width: 480px) {
  .soc-nav__item--mobmenu {
    font-size: 14px;
    line-height: 1.357;
  }
}
.soc-nav__link {
  text-decoration: none;
  color: #303030;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-nav__link:hover {
  color: #ff6c00;
}

.soc-nav__item--decor {
  display: flex;
  gap: 40px;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .soc-nav__item--decor {
    padding-left: 100px;
  }
  .soc-nav__item--decor:first-child {
    padding-left: 0;
  }
  .soc-nav__item--decor:first-child:before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 1px;
    background-color: #303030;
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 118px 31px;
  background-color: #fff;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.12), 0px 4px 40px rgba(0, 0, 0, 0.14), 0px 4px 40px rgba(0, 0, 0, 0.2);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu.is-open {
  width: 71vw;
  transform: translateX(29vw);
}
.mob-menu__list {
  padding-bottom: 64px;
}
.mob-menu__item {
  padding-bottom: 12px;
  font-size: 14px;
  line-height: normal;
  font-weight: 600;
  letter-spacing: 1.8px;
}
@media screen and (min-width: 480px) {
  .mob-menu__item {
    padding-bottom: 24px;
    font-size: 18px;
  }
}
.mob-menu__item:last-child {
  padding-bottom: 0;
}
.mob-menu__link, .mob-menu__phone {
  word-break: break-all;
  color: #303030;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu__btn {
  width: auto;
  padding: 12px 12px;
}
@media screen and (min-width: 480px) {
  .mob-menu__btn {
    padding: 12px 37px;
  }
}

.modal {
  position: relative;
  margin: 3vh auto;
  width: calc(100% - 30px);
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.12), 0px 4px 40px rgba(0, 0, 0, 0.14), 0px 4px 40px rgba(0, 0, 0, 0.2);
  padding: 80px 40px;
  background-color: #ffffff;
  opacity: 1;
  visibility: visible;
}
.modal--absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
.modal__close {
  top: 31px;
  right: 31px;
}

.feedback {
  text-align: center;
}
.feedback__title {
  margin-bottom: 36px;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
}
.feedback__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  color: rgba(98, 91, 66, 0.88);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback__field:hover {
  color: #ff6c00;
}
.feedback__label {
  margin-bottom: 4px;
  text-align: left;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.feedback__wrap-input {
  position: relative;
}
.feedback__input {
  width: 100%;
  margin: 0;
  border: none;
  border-bottom: 1px solid currentColor;
  padding: 16px 12px;
  padding-left: 40px;
  background-color: #f7f7f7;
  font-size: 12px;
  color: currentColor;
  outline: none;
}
.feedback__input[type=tel] {
  letter-spacing: 0.1rem;
}
.feedback__input:focus {
  border-bottom: 1px solid #ff6c00;
  color: #ff6c00;
}
.feedback__comment {
  resize: none;
  height: 120px;
  border: none;
  border-bottom: 1px solid currentColor;
  padding: 16px 12px;
  font-size: 12px;
  background-color: #f7f7f7;
  color: currentColor;
  outline: none;
  line-height: 1.17;
}
.feedback__field--check {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 15px;
}
.feedback__label--check {
  margin-bottom: 0;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 1px;
}
.feedback__link {
  color: #ff6c00;
  text-decoration: underline;
}

.feedback__input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  translate: 0 -50%;
  width: 18px;
  height: 18px;
  fill: currentColor;
}
.feedback__input:focus ~ .feedback__input-icon {
  fill: #ff6c00;
}

.feedback__icon-checkbox {
  position: relative;
  bottom: 1px;
  width: 18px;
  height: 18px;
  border: 2px solid currentColor;
  margin-right: 7px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback__checkbox:checked + .feedback__icon-checkbox {
  border-color: transparent;
  background-color: currentColor;
  background-size: contain;
}

.feedback__icon-check {
  width: 14px;
  height: 14px;
  fill: #fff;
  opacity: 0;
  transform: translateY(-1px);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback__checkbox:checked + .feedback__icon-checkbox > .feedback__icon-check {
  opacity: 1;
}

.hint {
  position: absolute;
  top: 105%;
  left: 50%;
  translate: -50% 0;
  opacity: 1;
  width: 100%;
  font-size: 10px;
  color: #ff6c00;
  transform: translateY(0);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hint--hidden {
  opacity: 0;
  transform: translateY(-100%);
}

.alert {
  position: absolute;
  top: 105%;
  left: 50%;
  translate: -50% 0;
  opacity: 0;
  width: 100%;
  font-size: 10px;
  transform: translateY(-100%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.alert--invalid {
  opacity: 1;
  transform: translateY(0);
  color: #ff6c6c;
}
.alert--valid {
  opacity: 1;
  transform: translateY(0);
  color: #6cff6c;
}

.alert-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  translate: 0 -50%;
  -webkit-animation: alertIconAnimation 5000ms cubic-bezier(0.4, 0, 0.2, 1) 1000ms alternate 5;
          animation: alertIconAnimation 5000ms cubic-bezier(0.4, 0, 0.2, 1) 1000ms alternate 5;
}
.alert-icon--hint {
  fill: #ff6c00;
}
.alert-icon--invalid {
  fill: #ff6c6c;
}
.alert-icon--valid {
  fill: #6cff6c;
}

@-webkit-keyframes alertIconAnimation {
  0% {
    transform: perspective(24px) rotateY(0deg);
  }
  40% {
    transform: perspective(24px) rotateY(0deg);
  }
  60% {
    transform: perspective(24px) rotateY(180deg);
  }
  100% {
    transform: perspective(24px) rotateY(180deg);
  }
}

@keyframes alertIconAnimation {
  0% {
    transform: perspective(24px) rotateY(0deg);
  }
  40% {
    transform: perspective(24px) rotateY(0deg);
  }
  60% {
    transform: perspective(24px) rotateY(180deg);
  }
  100% {
    transform: perspective(24px) rotateY(180deg);
  }
}/*# sourceMappingURL=main.css.map */