.about {
  &__container {
    @include tablet {
      display: flex;
      gap: 30px;
      flex-direction: row-reverse;
    }
  }

  &__content {
    @include tablet {
      flex-basis: 330px;
    }

    @include desktop {
      flex-basis: 570px;

      padding-right: 100px;
    }
  }

  &__title {
    max-width: 306px;

    @include fitFont(28px);

    @include mobile {
      word-break: normal;
    }

    @include desktop {
      max-width: initial;

      @include fitFont(42px, 1.166);
    }
  }

  &__text {
    margin-bottom: 40px;

    @include fitFont(14px, 1.857);

    @include tablet {
      margin-bottom: 77px;
    }

    @include desktop {
      margin-bottom: 42px;
    }

    &--pretext {
      margin-bottom: 20px;

      font-size: 16px;

      @include tablet {
        @include fitFont(18px, 1.66);
      }
    }
  }

  &__aside {
    display: none;

    @include tablet {
      display: initial;
    }
  }

  &__list {
    display: flex;
    gap: 30px;
    flex-direction: column;
  }

  // &__item {
  //   width: 330px;
  // }
}
