.about {
  &__container {
    @include tablet {
      display: flex;
      gap: 30px;
      flex-direction: row-reverse;
    }
  }

  &__content {
    width: 330px;
  }

  &__title {
    max-width: 306px;
    font-size: 28px;
  }

  &__text {
    margin-bottom: 40px;
    @include fitFont(14px, 1.86);

    &--pretext {
      margin-bottom: 20px;
      font-size: 16px;
    }
  }

  &__aside {
    display: none;

    @include tablet {
      display: initial;
    }
  }

  &__list {
    display: flex;
    gap: 30px;
    flex-direction: column;
  }

  &__item {
    width: 330px;
  }
}
