.about {
  &__title {
    font-size: 28px;
  }

  // &__subtitle {
  // @extend %subtitle;
  // }

  &__text {
    font-size: 14px;
    line-height: 1.86;

    &--pretext {
      font-size: 16px;
    }
  }
}
