.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100%;
  z-index: 100;

  background-color: getColor('sliderOverlay');
  opacity: 1;
  visibility: visible;

  transition: opacity $tns-time $tns-func, visibility $tns-time $tns-func;
  overflow-y: scroll;

  &--is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}
