.barbers {
  background-color: getColor('foregroundThird');

  &__container {
    @include tablet {
      max-width: 528px;
    }

    @include desktop {
      max-width: initial;
    }
  }

  &__title {
    margin-bottom: 44px;

    line-height: 1.166;
  }

  &__list {
    @include desktop {
      display: flex;
      gap: 30px;
    }
  }

  &__item {
    margin-bottom: 64px;

    @include desktop {
      margin-bottom: 0;
    }
  }

  &__item:last-child {
    margin-bottom: 0;
  }
}
