.booking {
  &__form {
    text-align: center;
  }
  // background-color: getColor('foregroundSecond');

  &__container {
    padding: 84px 24px;
  }

  &__title {
    margin-bottom: 44px;

    text-align: center;

    color: getColor('background');
  }

  &__field {
    position: relative;
    display: block;
    margin-bottom: 36px;
    color: getColor('elemForm');
    transition: color $tns-time $tns-func;

    &:hover {
      color: getColor('background');
    }
  }

  &__input,
  &__textarea {
    @include fitSize(100%, 31px);
    border: none;
    outline: none;
    border-bottom: 1px solid currentColor;

    background: transparent;
    color: currentColor;
    // transition: border-bottom $tns-time $tns-func;

    &:focus {
      border-bottom: 1px solid getColor('background');
      color: getColor('background');
    }
  }

  &__textarea {
    resize: none;
    height: 83px;
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    text-transform: uppercase;
    @include fitFont(11px, normal, null, 1.1px);

    color: currentColor;
    transition: transform $tns-time $tns-func, font-size $tns-time $tns-func;
  }

  &__label--req::after {
    content: '*';
  }
}

.booking__label {
  .booking__input:focus + & {
    color: getColor('background');
  }

  .booking__input:focus + &,
  .booking__input:not(:placeholder-shown) + & {
    transform: translateY(-32px);
    font-size: 8px;
  }

  .booking__textarea + & {
    top: 4px;
    transform: translateY(0);
  }

  .booking__textarea:focus + & {
    color: getColor('background');
  }

  .booking__textarea:focus + &,
  .booking__textarea:not(:placeholder-shown) + & {
    transform: translateY(-27px);
    font-size: 8px;
  }
}
