.booking {
  text-align: center;
  background-color: getColor('foregroundSecond');

  @include tablet {
    text-align: initial;
  }

  @include desktop {
    flex-basis: 50%;
  }

  &__container {
    @include desktop {
      max-width: 615px;
      padding: 0 30px 0 15px;
      margin-left: auto;
      margin-right: 0;
    }
  }

  &__title {
    margin-bottom: 44px;

    line-height: 1.166;

    color: getColor('background');

    @include tablet {
      margin-bottom: 39px;
    }
  }

  &__form {
    @include tablet {
      display: flex;
      row-gap: 44px;
      column-gap: 30px;
      flex-wrap: wrap;
    }
  }

  &__field {
    position: relative;
    display: block;
    margin-bottom: 36px;
    color: getColor('elemForm');
    transition: color $tns-time $tns-func;

    &:nth-child(3) {
      margin-bottom: 44px;
    }

    &:hover {
      color: getColor('background');
    }

    @include tablet {
      margin-bottom: 0;

      &:nth-child(1),
      &:nth-child(2) {
        flex-basis: 330px;
      }

      &:nth-child(3) {
        flex-basis: 690px;
        margin-bottom: 0;
      }
    }
  }

  &__input,
  &__textarea {
    display: block;

    @include fitSize(100%, 29px);
    border: none;
    outline: none;
    border-bottom: 1px solid currentColor;
    padding: 0;

    background: transparent;
    color: currentColor;
    // transition: border-bottom $tns-time $tns-func;

    &:focus {
      border-bottom: 1px solid getColor('background');
      color: getColor('background');
    }
  }

  &__textarea {
    resize: none;
    height: 82px;

    @include tablet {
      height: 76px;
    }
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 0;

    text-transform: uppercase;
    @include fitFont(11px, 1.363, 600, 0.1em);

    color: currentColor;

    transform: translateY(-50%);

    transition: transform $tns-time $tns-func, font-size $tns-time $tns-func;
  }

  &__label--req::after {
    content: '*';
  }
}

.booking__label {
  .booking__input:focus + & {
    color: getColor('background');
  }

  .booking__input:focus + &,
  .booking__input:not(:placeholder-shown) + & {
    transform: translateY(-32px);
    font-size: 8px;
  }

  .booking__textarea + & {
    top: 4px;
    transform: translateY(0);
  }

  .booking__textarea:focus + & {
    color: getColor('background');
  }

  .booking__textarea:focus + &,
  .booking__textarea:not(:placeholder-shown) + & {
    transform: translateY(-27px);
    font-size: 8px;
  }
}
