.contacts {
  color: getColor('textLight');

  background-color: getColor('foregroundSecond');
  background-image: url('../images/contacts/mobile/contacts-bg-480.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @include retina-2 {
    background-image: url('../images/contacts/mobile/contacts-bg-960.png');
  }

  @include retina-3 {
    background-image: url('../images/contacts/mobile/contacts-bg-1440.png');
  }

  @include tablet {
    background-image: url('../images/contacts/tablet/contacts-bg-768.png');

    @include retina-2 {
      background-image: url('../images/contacts/tablet/contacts-bg-1536.png');
    }

    @include retina-3 {
      background-image: url('../images/contacts/tablet/contacts-bg-2304.png');
    }
  }

  @include desktop {
    flex-basis: calc(50% - 15px);

    padding: 130px 0 120px 0;
  }

  &__container {
    @include tablet {
      display: flex;
      gap: 30px;
    }

    @include desktop {
      flex-wrap: wrap;
      gap: 70px;

      max-width: 585px;
      margin-right: auto;
      margin-left: 0;
      padding: 0 15px 0 100px;
    }
  }

  &__content {
    @include tablet {
      flex-basis: 330px;
    }

    @include tablet {
      flex-basis: 100%;
    }
  }

  &__title {
    margin-bottom: 40px;

    line-height: 1.166;
    text-align: center;

    color: getColor('background');

    @include tablet {
      text-align: initial;
    }
  }

  &__subtitle {
    position: relative;
    top: 0;
    left: 0;

    margin-bottom: 20px;

    color: getColor('background');

    &::before {
      background-color: getColor('elemForm');
    }
  }

  &__address {
    margin-bottom: 44px;

    @include tablet {
      margin-bottom: 0;
    }
  }

  &__item {
    margin-bottom: 20px;

    line-height: 1;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: inline-flex;
    gap: 16px;
    align-items: center;

    text-decoration: none;
    word-break: break-all;

    color: getColor('textLight');

    transition: color $tns-time $tns-func;

    &:hover {
      color: getColor('background');
    }
  }

  &__text {
    @include fitFont(18px, 1.666, null, 0.02em);
    font-style: normal;

    color: currentColor;
  }

  &__icon {
    @include fitSize(24px, 24px);

    fill: currentColor;

    @include tablet {
      .contacts__item:first-child & {
        transform: translateY(-12px);
      }
    }
  }

  &__aside {
    @include tablet {
      padding-top: 89px;
    }

    @include desktop {
      padding-top: 0;
    }
  }
}

.contacts__text--map-pin {
  font-weight: 700;

  @include tablet {
    max-width: 190px;
  }
}

.contacts__text--mail {
  position: relative;

  word-break: break-all;

  &::after {
    content: '';
    position: absolute;
    top: 23px;
    left: 0;

    @include fitSize(100%, 1px);

    background-color: getColor('textLight');
    transition: background-color $tns-time $tns-func;
  }

  .contacts__link:hover &::after {
    background-color: getColor('background');
  }
}
