.contacts {
  background-color: getColor('foregroundSecond');

  &__container {
    padding-top: 84px;

    background-image: url('../images/mobile/contacts-bg-2x.png');
  }

  &__title {
    margin-bottom: 40px;

    text-align: center;
    color: getColor('background');
  }

  &__subtitle {
    position: relative;
    top: 0;
    left: 0;

    margin-bottom: 20px;

    color: getColor('background');

    &::before {
      background-color: getColor('elemForm');
    }
  }

  &__address {
    margin-bottom: 44px;
  }

  &__item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: flex;
    gap: 16px;
    align-items: center;

    text-decoration: none;
    word-break: break-all;
  }

  &__text {
    @include fitFont(18px, 1.6667, null, 0.36px);
    font-style: normal;

    color: getColor('textLight');

    transition: color $tns-time $tns-func;
  }

  &__icon {
    width: 24px;
    height: 24px;

    fill: getColor('textLight');
    transition: fill $tns-time $tns-func;
  }
}

.contacts__text {
  .contacts__link:hover & {
    color: getColor('background');
  }
}

.contacts__icon {
  .contacts__link:hover & {
    fill: getColor('background');
  }
}

.contacts__text--map-pin {
  font-weight: 700;
}

.contacts__text--mail {
  position: relative;

  word-break: break-all;

  &::after {
    content: '';
    position: absolute;
    top: 23px;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: getColor('textLight');
    transition: background-color $tns-time $tns-func;
  }

  .contacts__link:hover &::after {
    background-color: getColor('background');
  }
}
