.features {
  &__title::before {
    content: '\00BF';
  }

  &__text {
    @include fitFont(18px, 1.67);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;

    padding-top: 80px;
  }

  &__item {
    width: 100%;
    color: getColor('titleDark');

    @media screen and (min-width: $xs) {
      width: inherit;
    }
  }

  &__item:nth-child(odd) {
    @media screen and (min-width: $mobile) {
      transform: translateY(-36px);
    }
  }
}
