.features {
  &__title::before {
    content: '\00BF';
  }

  &__text {
    font-size: 18px;
    line-height: 1.67;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;

    padding-top: 80px;
  }

  &__item {
    color: getColor('titleDark');
  }

  &__item:nth-child(odd) {
    @media screen and (min-width: $mobile) {
      transform: translateY(-36px);
    }
  }
}
