.page-footer {
  background-color: getColor('foregroundThird');
  padding: 44px 0;

  @include tablet {
    padding: 56px 0;
  }

  &__container {
    @include tablet {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }

  &__text {
    @include fitFont(11px, 1.363, 600, 0.2em);

    color: getColor('titleDark');

    &--copyright {
      color: getColor('textLight');
    }

    &--copyright::before {
      content: '\00A9';
      padding-right: 6px;
    }
  }
}
