.page-footer {
  background-color: getColor('foregroundThird');

  &__container {
    padding: 44px 31px 44px;
  }

  &__text {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 2.2px;

    color: getColor('titleDark');

    &--copyright {
      color: getColor('textLight');
    }

    &--copyright::before {
      content: '\00A9';
      padding-right: 6px;
    }
  }

  &__link {
    text-decoration: none;
  }
}
