.page-header {
  position: absolute;
  left: 50%;

  transform: translateX(-50%);
  z-index: 100;

  width: 100%;

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet {
      padding: 0 59px 0 50px;
    }

    @include desktop {
      padding: 0 35px 0 15px;
    }
  }
}
