.hero {
  &__container {
    padding: 209px 31px;
    background-color: getColor('sliderOverlay');
  }

  &__title {
    font-size: 28px;
    margin-bottom: 20px;
    color: getColor('background');

    @include mobile {
      font-size: 48px;
    }
  }

  &__subtitle {
    margin-bottom: 20px;
    letter-spacing: 0.1em;
    color: getColor('titleLight');

    &::before {
      background-color: getColor('titleLight');
    }
  }

  &__text {
    @include fitFont(16px, 1.62);

    color: getColor('textLight');
  }

  & .list {
    display: none;
  }
}
