.hero {
  .container {
    padding: 208px 113px 209px 31px;
    background-image: url('../images/Slider-img-3-3x.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: getColor('foregroundFirst');
  }

  &__title {
    font-size: 48px;

    color: getColor('background');
  }

  &__subtitle {
    letter-spacing: 0.1em;

    color: getColor('titleLight');
  }

  &__text {
    font-size: 16px;
    line-height: 1.62;

    color: getColor('textLight');
  }
}
