.portfolio {
  &__title {
    @extend %visually-hidden;
  }

  &__subtitle {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 71px;
  }

  &__item {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
