.services {
  &__container {
    background-color: getColor('foregroundSecond');
  }

  &__title {
    margin-bottom: 44px;

    font-size: 40px;
    color: getColor('background');
  }

  &__subtitle {
    color: getColor('titleLight');
  }

  &__list {
    margin-bottom: 44px;
    padding: 30px 20px 30px 40px;

    background-image: getColor('servicesGradient');
  }

  &__item {
    padding-bottom: 20px;

    font-size: 14px;
    line-height: 1.43;
    color: getColor('titleLight');

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__btn {
    margin: 0 auto;
  }
}
