.services {
  background-color: getColor('foregroundSecond');

  &__title {
    margin-bottom: 44px;

    font-size: 40px;
    color: getColor('background');
  }

  &__subtitle {
    color: getColor('titleLight');
  }

  &__list {
    margin-bottom: 44px;
    padding: 20px;

    background-image: getColor('servicesGradient');

    @media screen and (min-width: $mobile) {
      padding: 20px 20px 20px 40px;
    }
  }

  &__item {
    display: flex;
    align-items: baseline;
    gap: 4px;
    padding: 10px 0;

    @include fitFont(14px, 1.43);
    word-break: break-all;

    color: getColor('titleLight');

    &::after {
      content: '';
      height: 1px;
      flex-grow: 1;
      background: currentColor;
    }
  }

  &__price {
    order: 1;
  }

  &__btn {
    margin: 0 auto;
  }
}
