.btn {
  display: inline-block;

  max-width: 160px;
  border: 1px solid getColor('accent');
  @include borderRadius(25px);
  padding: 11px;

  font-family: getFont('openSans'), getFont('sansSerif');
  @include fitFont(12px, 1.333, 600, 0.09em);
  text-transform: uppercase;

  color: getColor('titleDark');
  background-color: transparent;

  transition: color $tns-time $tns-func, background-color $tns-time $tns-func;

  &--light {
    color: getColor('background');
  }

  &:hover,
  &:focus {
    color: getColor('background');
    background-color: getColor('accent');
  }

  @include mobile {
    width: 160px;
  }
}
