.btn {
  display: block;

  max-width: 160px;
  border: 1px solid getColor('accent');
  border-radius: 25px;
  padding: 12px;

  font-family: getFont('openSans'), getFont('sansSerif');
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 1.08px;
  text-transform: uppercase;

  color: getColor('titleDark');
  background-color: transparent;

  transition: color $tns-time $tns-func, background-color $tns-time $tns-func;

  &--light {
    color: getColor('background');
  }

  &:hover {
    color: getColor('background');
    background-color: getColor('accent');
  }
}
