.card {
  text-align: center;

  &__contain {
    padding-top: 30px;
  }

  &__title {
    margin-bottom: 8px;

    @include fitFont(18px, 1.388, 400);

    color: getColor('darkTitle');
  }

  &__text {
    margin-bottom: 30px;

    text-transform: capitalize;
    @include fitFont(14px, 1.357);

    color: getColor('accent');
  }
}
