.feature {
  height: auto;
  padding: 20px 20px;

  text-align: center;
  font-weight: 600;
  line-height: 1.36;
  background-color: getColor('foregroundThird');
  color: getColor('titleDark');

  @media screen and (min-width: $xs) {
    width: 194px;
    height: 133px;
    padding: 20px 35px;
  }

  &__count {
    position: relative;

    display: inline-block;
    padding-bottom: 6px;

    @include fitFont(42px, null, 700, 0.05em);

    &:after {
      content: '+';

      position: absolute;
      top: 8px;

      display: inline-block;
      width: 20px;

      text-align: center;
      @include fitFont(16px, 1.38, 600);

      color: getColor('accent');
    }
  }

  &__text {
    margin: 0 auto;

    @include fitFont(11px);

    &--small {
      width: 84px;
    }
  }
}
