.feature {
  height: auto;
  padding: 20px 20px;

  text-align: center;

  background-color: getColor('foregroundThird');
  color: getColor('titleDark');

  @include mobile {
    @include fitSize(194px, 133px);
    padding: 20px 35px;
  }

  @include tablet {
    @include fitSize(210px, null);
  }

  &__count {
    position: relative;

    display: inline-block;
    padding-bottom: 6px;

    @include fitFont(42px, 1.357, 700, 0.05em);

    &:after {
      content: '+';

      position: absolute;
      top: 8px;

      display: inline-block;
      width: 20px;

      text-align: center;
      @include fitFont(16px, 1.375, 600);

      color: getColor('accent');
    }
  }

  &__text {
    margin: 0 auto;

    @include fitFont(11px, 1.363, 600, 0);

    &--small {
      width: 84px;
    }
  }
}
