.feature {
  width: 193px;
  height: 133px;
  padding: 20px 35px;

  text-align: center;
  font-weight: 600;
  line-height: 1.36;
  background-color: getColor('foregroundThird');
  color: getColor('titleDark');

  &__count {
    position: relative;

    display: inline-block;
    padding-bottom: 6px;

    font-weight: 700;
    font-size: 42px;
    letter-spacing: 0.05em;

    &:after {
      content: '+';

      position: absolute;
      top: 8px;

      display: inline-block;
      width: 20px;

      text-align: center;
      line-height: 1.38;
      font-size: 16px;
      font-weight: 600;

      color: getColor('accent');
    }
  }

  // &__plus {
  //   font-size: 16px;
  //   line-height: 1.38;

  //   color: getColor('accent');
  // }

  &__text {
    font-size: 11px;
  }
}
