.menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;

  @include fitSize(40px, 40px);
  border: none;
  margin: 0;
  padding: 0 0;

  background-color: getColor('transparent');
  color: getColor('background');

  transition: color $tns-time $tns-func;

  cursor: pointer;

  &:hover,
  &:focus {
    color: getColor('accent');
  }

  &--close {
    position: absolute;
    top: 48px;
    right: 31px;

    color: getColor('titleDark');
  }

  &__icon {
    @include fitSize(28px, 28px);

    fill: currentColor;

    &--close {
      @include fitSize(40px, 40px);
    }
  }

  @include tablet {
    display: none;
  }
}
