.menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;

  @include fitSize(40px, 40px);
  border: none;
  margin: 0;
  padding: 0;

  background-color: getColor('transparent');

  cursor: pointer;

  &--close {
    position: absolute;
    top: 48px;
    right: 31px;
  }

  &__icon {
    @include fitSize(28px, 28px);

    fill: getColor('background');
    transition: fill $tns-time $tns-func;

    &--close {
      @include fitSize(40px, 40px);

      fill: getColor('titleDark');
    }
  }
}

.menu-toggle__icon {
  .menu-toggle:hover & {
    fill: getColor('accent');
  }
}
