.menu-container {
  position: fixed;
  top: 0;
  right: 70vw;
  width: 70vw;
  height: 100vh;
  padding: 118px 31px;
  background-color: getColor('background');
  z-index: 9999;

  transform: translateX(100%);
  transition: transform $tns-time $tns-func;

  &__wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 64px;
  }

  &.is-open {
    transform: translateX(0);
  }
}
