.menu-toggle {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  margin: 0;
  padding: 0;

  background-color: getColor('transparent');

  cursor: pointer;

  &__icon {
    width: 28px;
    height: 28px;

    fill: getColor('background');
    transition: fill $tns-time $tns-func;

    &--close {
      fill: getColor('titleDark');
    }
  }
}

.menu-toggle__icon {
  .menu-toggle:hover & {
    fill: getColor('accent');
  }
}
