.mob-menu {
  position: fixed;
  top: 0;
  right: 70vw;
  width: 70vw;
  height: 100vh;
  padding: 118px 31px;
  background-color: getColor('background');
  z-index: 9999;

  transform: translateX(100%);
  transition: transform $tns-time $tns-func;

  &.is-open {
    transform: translateX(0);
  }

  &__list {
    padding-bottom: 64px;
  }

  &__item {
    padding-bottom: 24px;

    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.8px;
    line-height: normal;

    color: getColor('titleDark');
  }

  &__item:last-child {
    padding-bottom: 0;
  }

  &__link {
    color: getColor('titleDark');

    transition: color $tns-time $tns-func;
  }

  &__btn {
    width: auto;
    padding: 12px 37px;
  }
}
