.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 118px 31px;
  background-color: getColor('background');
  z-index: 999;

  transform: translateX(100%);
  transition: transform $tns-time $tns-func;

  &.is-open {
    width: 71vw;
    transform: translateX(29vw);
  }

  &__list {
    padding-bottom: 64px;
  }

  &__item {
    padding-bottom: 12px;

    @include fitFont(14px, normal, 600, 1.8px);

    @media screen and (min-width: $mobile) {
      padding-bottom: 24px;
      font-size: 18px;
    }
  }

  &__item:last-child {
    padding-bottom: 0;
  }

  &__link,
  &__phone {
    word-break: break-all;

    color: getColor('titleDark');

    transition: color $tns-time $tns-func;
  }

  &__btn {
    width: auto;

    padding: 12px 12px;

    @media screen and (min-width: $mobile) {
      padding: 12px 37px;
    }
  }
}
