.modal {
  position: relative;
  margin: 3vh auto;
  width: calc(100% - 2 * 15px);
  box-shadow: 0px 4px 40px getColor(box-shadow1), 0px 4px 40px getColor(box-shadow2),
    0px 4px 40px getColor(box-shadow3);
  padding: 80px 40px;
  background-color: #ffffff;
  // transform: rotate(0) scale(1);
  opacity: 1;
  visibility: visible;
  // transform-origin: 0 0;
  // transition: transform $animation-time $animation-function,
  //   opacity $animation-time $animation-function, visibility $animation-time $animation-function;

  &--absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }

  @include mobile {
    width: 450px;
  }

  &__close {
    top: 31px;
    right: 31px;
    // border: 1px solid $box-shadow5;
    // background-color: $prim-bg-color;
    // cursor: pointer;
    // transition: background-color $animation-time $animation-function,
    //   color $animation-time $animation-function, border $animation-time $animation-function;
  }
}
