.slider {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  text-align: center;

  &__next,
  &__prev,
  &__dot {
    display: inline-block;
    vertical-align: middle;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    background-color: getColor('sliderOverlay');
    overflow: hidden;
  }

  &__line {
    position: relative;
    left: 0;
    z-index: -50;
    display: flex;
    height: 100%;
    background-color: getColor('foregroundSecond');
    transition: 250ms;
  }

  &__buttons {
    display: none;

    @include tablet {
      position: absolute;
      right: 20px;
      bottom: 40px;
      display: inline-flex;
      gap: 24px;
    }
  }

  &__button {
    position: relative;
    width: 60px;
    height: 24px;
    border: none;
    border-bottom: 1px solid currentColor;
    padding: 0 0 8px 0px;
    background-color: transparent;
    font-size: 11px;
    font-weight: 600;
    line-height: 1.363;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: getColor('titleLight');
    transition: color $tns-time $tns-func;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: currentColor;
    }

    &--prev {
      text-align: left;
    }

    &--next {
      text-align: right;
    }

    &:hover,
    &:focus {
      color: getColor('background');
    }
  }

  &__dots {
    position: absolute;
    right: 20px;
    top: 50%;
    display: inline-flex;
    flex-direction: column;
  }

  &__dot {
    position: relative;
    width: 18px;
    height: 14px;
    color: getColor('titleLightPoor');
    background-color: transparent;
    transition: color $tns-time $tns-func;
    cursor: pointer;

    &:hover {
      color: getColor('background');
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 8px;
      height: 2px;
      background-color: currentColor;
      transition: width $tns-time $tns-func;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__dot--active::after {
    width: 100%;
    background-color: getColor('background');
  }

  &__slide {
    min-width: 100%;
    height: 100%;
  }

  &__image {
    @extend .image;

    height: 100%;
    object-fit: cover;

    @include slide-mob {
      height: auto;
    }
  }
}
