.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  align-items: center;

  @include xs {
    flex-direction: row;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    @include fitSize(44px, 44px);
    @include borderRadius(50%);

    background-color: getColor('background');
    color: getColor('titleDark');
    transition: color $tns-time $tns-func;

    &:hover,
    &:focus {
      color: getColor('accent');
    }
  }

  &__icon {
    @include fitSize(20px, 20px);

    fill: currentColor;
  }
}
