.soc-nav {
  &__list {
    display: flex;
    column-gap: 40px;
    row-gap: 10px;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: 20px;

    &--mobmenu {
      gap: 10px;
      flex-direction: column;
      align-items: flex-start;
      align-items: flex-end;

      margin-bottom: 0;

      @include mobile {
        align-items: flex-start;
        gap: 24px;
      }
    }

    &--aside {
      flex-wrap: nowrap;
      margin-bottom: 0;
      transform: rotate(-90deg) translateX(148px);

      @include desktop {
        transform: rotate(-90deg) translateX(148px) translateY(-17px);
      }
    }
  }

  &__item {
    @include fitFont(11px, 1.363, 600, 0.2em);

    &--mobmenu {
      @include mobile {
        font-size: 14px;
        line-height: 1.357;
      }
    }
  }

  &__link {
    text-decoration: none;

    color: getColor('titleDark');

    transition: color $tns-time $tns-func;

    &:hover {
      color: getColor('accent');
    }
  }
}

.soc-nav__item--decor {
  display: flex;
  gap: 40px;
  align-items: center;

  @include mobile {
    & {
      padding-left: 100px;
    }

    &:first-child {
      padding-left: 0;
    }

    &:first-child:before {
      content: '';

      display: inline-block;
      @include fitSize(60px, 1px);

      background-color: getColor('titleDark');
    }
  }
}
