.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 220px) {
    flex-direction: row;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;

    background-color: getColor('background');
  }

  &__icon {
    width: 20px;
    height: 20px;

    fill: getColor('titleDark');
    transition: fill $tns-time $tns-func;
  }
}

.socials__icon {
  .socials__link:hover & {
    fill: getColor('accent');
  }
}
