@mixin fitFont($fs, $lh: null, $fw: null, $ls: null) {
  font-size: $fs;
  line-height: $lh;
  font-weight: $fw;
  letter-spacing: $ls;
}

@mixin fitSize($w, $h) {
  width: $w;
  height: $h;
}

@mixin borderRadius($r) {
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  border-radius: $r;
}

@mixin xs {
  @media screen and (min-width: $xs) {
    @content;
  }
}

@mixin mobile {
  @media screen and (min-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin retina-2 {
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    @content;
  }
}

@mixin retina-3 {
  @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
    @content;
  }
}
