.section {
  padding: 84px 0;
}

.container {
  // position: relative;

  margin: 0 auto;
  padding: 0 31px;

  @include mobile {
    width: $mobile;
  }

  @include tablet {
    width: $tablet;
    padding: 0 39px;
  }

  @include desktop {
    width: $desktop;
    padding: 0 15px;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;

  // &:visited {
  //   color: getColor('visited');
  // }

  &:hover,
  &:focus {
    color: getColor('accent');
  }

  &:active {
    color: getColor('active');
  }
}

.title {
  margin-bottom: 20px;

  font-family: getFont('raleWay'), getFont('sansSerif');
  @include fitFont(42px, 1.17, 700, 2px);
  word-break: break-all;

  color: getColor('titleDark');
}

.subtitle {
  margin-bottom: 20px;

  @include fitFont(11px, 1.36, 600);
  text-transform: uppercase;

  color: getColor('titleDark');

  @include mobile {
    display: flex;
    align-items: center;
    gap: 20px;

    &::before {
      content: '';
      @include fitSize(60px, 1px);
      background-color: currentColor;
    }
  }
}

.thumb {
  overflow: hidden;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

%visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
