.container {
  position: relative;

  margin: 0 auto;
  padding: 119px 31px 84px;

  &--smallbtm {
    padding: 119px 31px 20px;
  }

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;

  &:visited,
  &:active {
    color: getColor('titleDark');
  }

  &:hover,
  &:focus {
    color: getColor('accent');
  }
}

.title {
  margin-bottom: 20px;

  font-family: getFont('raleWay'), getFont('sansSerif');
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  word-break: break-all;

  color: getColor('titleDark');
}

.subtitle {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;

  color: getColor('titleDark');

  @media screen and (min-width: $mobile) {
    position: absolute;
    top: 84px;
    left: 31px;
    margin-bottom: 0;
    padding: 0 0 0 80px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      background-color: getColor('titleDark');
      width: 60px;
      height: 1px;
    }
  }
}

.thumb {
  overflow: hidden;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

%visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
